<%- include("../partials/header") %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>

            <div class="thumbnail map">
                <div class="caption">
                    <p class="h4">Location</p>
                    <p><em>Powered by Google Maps API</em></p>
                </div>
                <div id="map">
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= campground.image %>" alt="">
                <div class="caption">
                    <h4 class="pull-right">$<%= campground.price %>/night</h4>
                    <h1><a href=""><%= campground.name %></a></h1>
                    <div class="rating">
                        <% for(i=0; i<campground.rating; i++){ %>
                            <i class="fas fa-star fa-lg filled"></i>
                        <% } %>
                        <% for(i=0; i<(5-campground.rating); i++){ %>
                            <i class="fas fa-star fa-lg empty"></i>
                        <% } %>
                    </div>
                    <p><%= campground.description %></p>
                    <p>
                       <em>Submitted by <%= campground.author.username %></em>
                    </p>
                    <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                        <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add Comment</a>
                </div>
                <hr>
                <% campground.comments.forEach(comment => { %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right">10 days ago</span>
                            <p>
                                <%= comment.text %>
                            </p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                <a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">
                                    Edit
                                </a>
                                <form class="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-xs btn-danger">Delete</button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>

<script>
    function initMap() {
    let uluru = {lat: <%= campground.location.lat %>, lng: <%= campground.location.long %>};
    // The map, centered at Uluru
    let map = new google.maps.Map(
        document.getElementById('map'), {zoom: 4, center: uluru});
    // The marker, positioned at Uluru
    let marker = new google.maps.Marker({position: uluru, map: map});
}
</script>

<script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7dSMusXUO-YocFFQkudm58hVFQZV071E&callback=initMap">
</script>


<%- include("../partials/footer") %>
